/* /Pages/Dictionaries.razor.rz.scp.css */
/* /Pages/Index.razor.rz.scp.css */
.splash[b-dxfrk2i4j2] {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.splash-content[b-dxfrk2i4j2] {
  background-image: url('berlin.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  height: 667px;
}
/* /Pages/PlayerInfoContainer.razor.rz.scp.css */
dates-section[b-jklkqzpfj9] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.data-field[b-jklkqzpfj9] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-label[b-jklkqzpfj9] {
  color: #b3b1ad;
  font-size: small;
}

.data-value[b-jklkqzpfj9] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* /Pages/TankCard.razor.rz.scp.css */
.tank-list-item[b-2uocvlfdxc] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background-color: #3a474d;
  margin-top: 5px;
  font-size: 12px;
}

.tank-image[b-2uocvlfdxc] {
  position: relative;
  width: 120px;
  min-width: 120px;
  height: 70px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.tank-flag-background[b-2uocvlfdxc] {
  /*filter: grayscale(60%);*/
  /*    filter: blur(1.5px);*/
  position: absolute;
  width: 120px;
  min-width: 120px;
  height: 70px;
}

.tank-tier[b-2uocvlfdxc] {
  position: absolute;
  left: 5px;
  top: 0px;
  width: 24px;
  height: 24px;
}

.tank-preview[b-2uocvlfdxc] {
  position: absolute;
  left: 25px;
  top: 0px;
  width: 95px;
  height: 70px;
}

.tank-type[b-2uocvlfdxc] {
  position: absolute;
  left: 0px;
  top: 46px;
  width: 24px;
  height: 24px;
}

.mastery-image[b-2uocvlfdxc] {
  position: absolute;
  left: 94px;
  top: 46px;
  width: 24px;
  height: 24px;
}

.mastery-badge[b-2uocvlfdxc] {
  position: absolute;
  left: 110px;
  top: 58px;
}

.tank-info[b-2uocvlfdxc] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

.tank-info-first-row[b-2uocvlfdxc] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.tank-info-second-row[b-2uocvlfdxc] {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.icon-scale[b-2uocvlfdxc] {
  width: 20px;
  height: 20px;
}
/* /Pages/TanksList.razor.rz.scp.css */
.tanks-list[b-xgdi9qsc4c] {
  height: 70%;
  overflow-y: scroll;
  margin-top: 10px;
  max-height: 50vh;
  width: 100%;
  max-width: 400px;
}

.sorting[b-xgdi9qsc4c] {
  width: 100%;
  max-width: 420px;
}

.sort-button[b-xgdi9qsc4c] {
  min-height: 24px;
  min-width: 24px;
  width: 24px;
  height: 24px;
}

.sort-arrow[b-xgdi9qsc4c] {
  min-height: 24px;
  height: 24px;
}

.filter-area[b-xgdi9qsc4c] {
  margin-top: 10px;
  width: 100%;
  max-width: 420px;
}

.nation-filter-flag[b-xgdi9qsc4c] {
  width: 35px;
  height: 23px;
  border-radius: 4px;
}

.tier-filter[b-xgdi9qsc4c] {
  width: 23px;
  height: 23px;
  border-radius: 4px;
  text-align: center;
}

.filter-selected[b-xgdi9qsc4c] {
  border-width: 1px;
  border-color: #f5aa3b;
  border-style: solid;
}

.filter-non-premium-selected[b-xgdi9qsc4c] {
  border-width: 1px;
  border-color: #7c807c;
  border-style: solid;
}
/* /Pages/TanksListDesktop.razor.rz.scp.css */
/* /Pages/TanksTree.razor.rz.scp.css */
/* /Pages/TanksTreeDesktop.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-79krbfpa7l] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-79krbfpa7l] {
  flex: 1;
}
/* /Shared/NavMenu.razor.rz.scp.css */
