/* /Pages/Index.razor.rz.scp.css */
.splash[b-dxfrk2i4j2] {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.splash-content[b-dxfrk2i4j2] {
  background-image: url('berlin.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  height: 667px;
}
/* /Pages/PlayerInfoContainer.razor.rz.scp.css */
dates-section[b-jklkqzpfj9] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.data-field[b-jklkqzpfj9] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-label[b-jklkqzpfj9] {
  color: #b3b1ad;
  font-size: small;
}

.data-value[b-jklkqzpfj9] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-79krbfpa7l] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-79krbfpa7l] {
  flex: 1;
}
/* /Shared/NavMenu.razor.rz.scp.css */
