@page "/"
@inject IStringLocalizer<App> Localize
@inject IMediator Mediator

<PageTitle>WotBlitzStatisticsPro</PageTitle>

<div class="splash">
    <div class="splash-content">
        <h6>@Localize["Welcome to WOT Blitz statistics application!"]</h6>
        <button type="button" class="btn btn-warning mt-3"><img src="/icons/wg-200.png" width="32px" height="32px"> @Localize["Login with WG.net ID"]</button>
        <SearchPlayer></SearchPlayer>
    </div>
</div>

