@page "/"
@inject IStringLocalizer<App> Localize
@inject IMediator Mediator

<PageTitle>WotBlitzStatisticsPro</PageTitle>

<div class="splash">
    <div class="splash-content">
        <h6>@Localize["Welcome to WOT Blitz statistics application!"]</h6>
        <SearchPlayer></SearchPlayer>
    </div>
</div>

