@inject IStringLocalizer<App> Localize
<div class="input-group mt-4 me-3">
  <img src="/icons/tankist-200.png" width="32px" height="32px">
  <input type="text" class="form-control" placeholder="@Localize["Find player"]" aria-label="FindPlayer" aria-describedby="basic-addon1">
</div>
