.tank-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background-color: #3a474d;
  margin-top: 5px;
  font-size: 12px;
}

.tank-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

.tank-info-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.tank-info-second-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.icon-scale {
  width: 20px;
  height: 20px;
}
