.tanks-list {
  height: 70%;
  overflow-y: scroll;
  margin-top: 10px;
  max-height: 50vh;
  width: 100%;
  max-width: 400px;
}

.sorting {
  width: 100%;
  max-width: 420px;
}

.sort-button {
  min-height: 24px;
  min-width: 24px;
  width: 24px;
  height: 24px;
}

.sort-arrow {
  min-height: 24px;
  height: 24px;
}

.filter-area {
  margin-top: 10px;
  width: 100%;
  max-width: 420px;
}

.nation-filter-flag {
  width: 35px;
  height: 23px;
  border-radius: 4px;
}

.tier-filter {
  width: 23px;
  height: 23px;
  border-radius: 4px;
  text-align: center;
}

.filter-selected {
  border-width: 1px;
  border-color: #f5aa3b;
  border-style: solid;
}

.filter-non-premium-selected {
  border-width: 1px;
  border-color: #7c807c;
  border-style: solid;
}
