@inject IMediator Mediator

<div class="modal @ModalClass" id="bootstrapModal" role="dialog" tabindex="-1" aria-labelledby="bootstrapModalLabel" style="display:@ModalDisplay">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bootstrapModalLabel">Hi there</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => Close()"></button>
      </div>
      <div class="modal-body">
        bodyyy
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="() => Close()">Ok</button>
      </div>
    </div>
  </div>
</div>

@if (!Hidden)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

    public TankInfoDto[] Tanks { get; set; }

    public bool Hidden { get; set; } = true;

    public string ModalDisplay { get; set; } = "none;";
    public string ModalClass { get; set; } = "";

    public async Task Open(TankInfoDto[] tanks)
    {

        ModalDisplay = "block;";
        ModalClass = "Show";
        Hidden = false;
        @* PlayerSessionInfo = await Mediator.Send(new GetTankSessionInfoRequest(Tank.AccountId, Tank.TankId)); *@
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        Hidden = true;
        StateHasChanged();
    }
}